---
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import PreFooter from '../components/PreFooter.astro';
import Video from '../components/Video.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Gaeluss | Innovación en Desarrollo de Software Personalizado"
  description="Gaeluss ofrece soluciones innovadoras de desarrollo de software a medida para empresas que buscan optimizar sus procesos y transformar digitalmente su negocio. Expertos en aplicaciones web y móviles con un enfoque en calidad y eficiencia."
>
	<Video />
	<main>
		<About />
		<Services />
		<PreFooter />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
