<section id="vision" class="py-16 my-56 flex justify-center items-center" style="clip-path: polygon(50% 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);">
  <div class="container mx-auto flex flex-col gap-20">
    <h2 class="text-3xl font-bold text-center text-white mb-12">Our Vision</h2>
    <div class="bg-gray-800 rounded-lg shadow-md p-8">
      <p class="text-white text-lg leading-relaxed">
        At Gaeluss, our vision is to be a leading force in the software development industry, delivering cutting-edge, innovative solutions that empower businesses to thrive in the digital age. We strive to create a future where technology is seamlessly integrated into everyday life, enhancing efficiency, accessibility, and user experiences across all sectors.
      </p>
    </div>
  </div>
</section>