---
import { getLangFromUrl, useTranslations, useTranslatedPath, } from '../i18n/utils';
import LanguageSelector from './LanguageSelector.astro';

import { getI18N } from "../i18n/index"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header id="header-nav" class="fixed w-screen py-3 z-20 top-0 px-8 lg:px-0">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a href="/" class="col-span-1 size-16">
            <img src="/logo.svg" alt="">
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-1 md:gap-12 justify-center">
                <li>
                    <a href="#" class="relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-500 after:origin-left after:mt-1">SERVICIOS</a>
                </li>
                <li>
                    <a href="#" class="relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-500 after:origin-left after:mt-1">VISIÓN</a>
                </li>
                <li>
                    <a href="#" class="relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-500 after:origin-left after:mt-1">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <LanguageSelector />
    </div>
</header>
